<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="../../assets/menu_bar.svg" />
      </ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
        <span>&nbsp;</span>
      </ion-button>
      <ion-button class="filter">
        <ion-icon name="funnel-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="search ion-padding">
    <ion-item lines="none">
      <ion-input placeholder="Search Your Product"></ion-input>
      <ion-icon name="search-outline" slot="start"></ion-icon>
    </ion-item>
  </div>

  <ion-card class="sliders">
    <ion-slides pager="true" autoplay="1000" loop="true" style="height: 65%;">
      <ion-slide>
        <img src="../../assets/e1.jpg" width="100px;">
      </ion-slide>

      <ion-slide>
        <img src="../../assets/e2.jpg">
      </ion-slide>

      <ion-slide>
        <img src="../../assets/e3.jpg">
      </ion-slide>
      
    </ion-slides>
  </ion-card>

  <div class="title ion-padding">
    <h2>Categories</h2>
  </div>

  <div class="category-slider ion-padding-start">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let category of categories">
        <ion-col>
          <h4>{{ category.name }}</h4>
          <img src="{{ category.image }}" />
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>
<ion-item lines="none" color="primary" class="iteme">
  <div class="title">
    <h3>Nos routeurs</h3>
    <p>Voir plus</p>
  </div>
</ion-item>

  <div class="product-slider ion-padding-start">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let produit of annonces">
        <ion-col class="ion-text-left" [routerLink]="['/item-details',produit.id]" routerDirection="forward">
          <img src="{{ urlPicture + produit.photo }}" />
          <p>{{ produit.prix }} FCFA</p>
          <h6>{{ produit.titre }}</h6>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>

  <ion-item lines="none" color="primary" class="iteme">
    <div class="title">
      <h3>Nos cameras</h3>
      <p>Voir plus</p>
    </div>
  </ion-item>

  <div class="product-slider ion-padding-start">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let cam of camera">
        <ion-col class="ion-text-left" [routerLink]="['/item-details',cam.id]" routerDirection="forward">
          <img src="{{ urlPicture + cam.photo }}" />
          <p>{{ cam.prix }} FCFA</p>
          <h6>{{ cam.titre }}</h6>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>

  <ion-item lines="none" color="primary" class="iteme">
    <div class="title">
      <h3>Promotions</h3>
      <p>Voir plus</p>
    </div>
  </ion-item>

  <div class="product-slider ion-padding-start">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let promo of promotion">
        <ion-col class="ion-text-left" [routerLink]="['/item-details',promo.id]" routerDirection="forward">
          <ion-badge color="danger">{{ promo.reduction }}</ion-badge><img src="{{ urlPicture + promo.photo }}" />
          <p>{{ promo.newPrice }} FCFA</p>
          <p> <s>{{ promo.ancPrice }}</s> FCFA</p>
          <h6>{{ promo.titre }}</h6>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>